@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Inter:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /*outline: 1px solid green;*/
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Alef', 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

#root {
  height: 100%;
  position: relative;
  max-width: 1140px;
  width: 100%;
  margin: auto;
}